html body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

div {
    box-sizing: border-box;
}

/* HEADER */


.nav-sticky {
    position: fixed;    
    width: 100%;
}


.nav-bar {
    top: 0;
    display: flex;
    background: white;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid grey;
    margin: 0;
    height: 42px;
    flex-wrap: nowrap;
}

.nav-start {
    display: flex;
    align-items: center;
}

.nav-start img {
    width: auto;
    height: 29px;
    margin: auto 20px;
}

.nav-middle img {
    width: auto;
    height: 29px;
}

.nav-btn {
    color: white;
    background-color: darkcyan;
    padding: 5px;
}

/* CONTENT */

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 600px 1fr 1fr;
    background: rgb(238, 238, 238);
    padding-top: 42px;
    grid-template-rows: auto;
}

h1 {
    border-bottom: 1px solid black;
    grid-column: 3 / 4;
}

.main-content img {
    grid-column: 2 / 5;
    width: 100%;
    height: auto;
    margin: 20px 0 5px 0;
}
.main-content figcaption {
    grid-column: 2 / 4;
}

.main-content p {
    grid-column: 3 / 4;
}

.main-content strong {
    grid-column: 3 / 4;
}

.block {
    font-size: 22px;
}

.date {
    font-size: 15px;
}

.main {
    margin: 20px 0 20px 0;
}